$cor1: #ffffff; // branco
$cor2: #C8EE44; // verde


$error: #a90329; // bg msg erro
$white: #ffffff;
$black: #000000;

$bgBody: linear-gradient(90deg, rgb(146, 70, 12) 0%, rgb(127, 45, 7) 50%, rgb(146, 70, 12) 100%);

$bgBtn: linear-gradient(0deg, rgb(226,6,19) 90%, rgb(217,100,108) 100%);
$btColor: $white;
$bgBtnHover: $cor2; 

$colorTextWhite: #FFFFFF;
$colorTextBlack: #000000;
$colorTextGrey: #777777;

$font: Open Sans;
$fontText: Metropolis;
$fontSizeText: 20px;

$borderRadius: 15.0305px;


//-> media querie
$screenXL           : 1250px;
$screenLG           : 992px;
$screenMD           : 850px;
$mobile             : 768px;
$screenSD           : 576px;