@import 'variables';

body, h1, h2, ul, li, p {
    padding: 0px;
    margin: 0px;
}

form {
    label {
        margin-bottom: 5px;
        font-family: $fontText;
      }
      
      input, textarea {
        border-radius: 10px;
        border: 1px solid $cor2;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
        transition: all 0.3s;
        font-size: 1rem;
        font-family: $fontText;
        margin-bottom: 15px;
        
        
      }
      input[type="email"], textarea {

        background : $white !important; 
      
      }
      input[type="password"], textarea {

        background : blue !important; 
      
      }
   
      
      input:hover,
      input:focus,
      textarea:hover,
      textarea:focus {
        outline: none;
        box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
        border-color: $cor2;
        border: 2px solid $cor2
      }
}

a {
    font-weight: bold;
    text-decoration: none; 
    position: relative;
    color: $white !important;
    
   
    &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $cor2;
        transition: width 0.3s ease 0s, left 0.5s ease 0s;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
      &:active {
        
      }
    
    
}

.bg-light {
    background-color: $black !important;
   
}

.navbar-light .navbar-nav .nav-link {
    color: $white !important;
    font-family: $font;

    a:hover &:focus, &:active {
        color: $cor2 !important;
        text-decoration: none !important;
    }
    a:hover:before {
        color: $cor2;
        
        
    }

    .navbar-brand {

    }   
}

@media(max-width:$mobile) {
    .navbar-brand{
       
            img {
                width: 200px;
            }
           
    }   
}

.navbar-toggler {
    background-color: $cor2 !important;
}


.button {
    background-color: $cor2;
    border-radius: 56px;
    padding: 16px, 56px, 16px, 56px;
    border: none;
    width: 247px;
    height: 60px;
    cursor: pointer;
    color: $black;
    font-family: $font;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    &:hover, &:focus, &:active {
        border: none;
        outline: none;
    }
}

.button-transparent {
    background-color: transparent;
    border-radius: 56px;
    padding: 16px, 56px, 16px, 56px;
    border: 2px solid $cor2;
    width: 187px;
    height: 60px;
    cursor: pointer;
    color: $black;
    font-family: $font;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    &:hover, &:focus, &:active {
        outline: none;
    }
    

}

.only-desk{
	display: block !important;
	@media (max-width:$mobile) {
		display: none !important;
	}
}

.only-mob{
	display: none !important;
	@media (max-width:$mobile) {
		display: block !important;
	}
}
